

.imgfilepreview {
  transition: object-position;
  transition-duration: 300ms;
  transition-delay: 100ms;
}

.imgfilepreview:hover {
  cursor: pointer;
  position: static;
  top: 0;
  left: 0;
  transition: object-position;
  transition-duration: 10ms;
  transition-delay: 1ms;
}

.imgfilepreview:hover::after {
  transition-duration: 1000ms;
  transition-delay: 300ms;
}

.imgfilepreview:hover::before {
  transition-duration: 1000ms;
  transition-delay: 300ms;
}

.cardfile:hover .imgfilepreview {
  cursor: pointer;
  position: static;
  top: 0;
  left: 0;
  animation-name: size-aimg-hover;
  animation-duration: 0.3s;
}

